.html {
  background-color: rgb(40, 42, 53);
  height: 80px;
  text-align: center;
  font-size: 25px;
  word-spacing: 20px;
}

.html a {
  text-decoration: none;
  color: white;
  line-height: 80px;
}

.but {
  font-size: 20px;
  height: 50px;
  color: white;
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
}

.div2 {
  background-color: rgb(217, 238, 225);
}

.div2 .but-2 {
  background-color: black;
}

.div2 p {
  line-height: 40px;
  text-indent: 20px;
}

.div3 {
  line-height: 40px;
  text-indent: 20px;
}

.div4 {
  line-height: 40px;
  text-indent: 20px;
}

.div5 {
  background-color: rgb(40, 42, 53);
  height: 80px;
  text-align: center;
  font-size: 25px;
  word-spacing: 20px;
}

.div5 a {
  text-decoration: none;
  color: white;
  line-height: 80px;
}

.but {
  font-size: 20px;
  height: 50px;
  color: white;
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
}

.div7 {
  background-color: rgb(217, 238, 225);
}

.div7 p {
  line-height: 40px;
  text-indent: 20px;
}

.div9 {
  background-color: rgb(40, 42, 53);
  height: 80px;
  text-align: center;
  font-size: 25px;
  word-spacing: 20px;
}

.div9 a {
  text-decoration: none;
  color: white;
  line-height: 80px;
}

.but {
  font-size: 20px;
  height: 50px;
  color: white;
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
}

.div11 {
  background-color: rgb(217, 238, 225);
}

.div11 p {
  line-height: 40px;
  text-indent: 20px;
}

.div12 {
  line-height: 40px;
  text-indent: 20px;
}

.div13 {
  line-height: 40px;
  text-indent: 20px;
}

.div14 {
  line-height: 40px;
  text-indent: 20px;
  background-color: rgb(255, 255, 204);
}

.div15 {
  line-height: 40px;
  text-indent: 20px;
}

.div15 .p-2 {
  text-indent: 60px;
}

.div16 {
  background-color: rgb(217, 238, 225);
}

.div16 .p-3 {
  line-height: 40px;
  text-indent: 20px;
}

.div17 {
  text-indent: 20px;
}

.div18 {
  background-color: rgb(40, 42, 53);
  height: 80px;
  text-align: center;
  font-size: 25px;
  word-spacing: 20px;
}

.div18 a {
  text-decoration: none;
  color: white;
  line-height: 80px;
}

.div20 {
  text-indent: 20px;
  background-color: rgb(217, 238, 225);
}

.div21 {
  line-height: 40px;
  text-indent: 20px;
}

.div22 {
  text-indent: 20px;
  background-color: rgb(255, 255, 204);
}

.div23 {
  line-height: 40px;
  text-indent: 20px;
}

.div24 {
  background-color: rgb(40, 42, 53);
  height: 80px;
  text-align: center;
  font-size: 25px;
  word-spacing: 20px;
}

.div24 a {
  text-decoration: none;
  color: white;
  line-height: 80px;
}

.div25 {
  line-height: 40px;
  text-indent: 20px;
}

.div26 {
  text-indent: 20px;
  background-color: rgb(217, 238, 225);
}

.div27 {
  line-height: 40px;
  text-indent: 20px;
}

.div28 {
  line-height: 40px;
  text-indent: 20px;
}

.div29 {
  line-height: 40px;
  text-indent: 20px;
}
